* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;

  overflow: hidden;
}
.taskbar {
  position: absolute;
  width: 100%;
  bottom: -5px;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  z-index: 11;
}
.startmenu {
  position: absolute;
  width: 100%;
  text-align: center;
  /* bottom: 50px; */
  bottom: -650px;
  transition: all 0.3s ease-in;
}
.startmenu img {
  height: 70vh;
  border-radius: 8px;
}
.taskright {
  position: absolute;
  right: 0;
  height: 85%;
  margin: 6px 0;
}
